@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-family: sans-serif;
  background: rgb(255, 255, 255);
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}
